<div class="contaienr">
<h1>Update your Truck</h1>
</div>

<div class="container mt-5">
<h2>Nuevo Camión</h2>
<%= simple_form_for(@truck) do |f| %>
        <%= f.input :brand, value: @truck.brand %>
        <%= f.input :model, value: @truck.model %>
        <%= f.input :description, value: @truck.description %>
        <%= f.input :capacity, placeholder:'Enter the capacity of the truck' %>
        <%= f.input :price, placeholder:'Enter the price per day of the truck' %>
        <%= f.input :photo, as: :file %>
        <div class="btn btn-primary">
          <%= f.button :submit  %>
        </div>
<% end %>
</div>
