
<div class="container grid-container mt-4">
<%# Esta es la card  %>
  <% @trucks.each do |truck| %>
    <%= link_to truck do %>
      <div class="card1 mb-4">
         <img src="" alt=""> <%= cl_image_tag truck.photo.key, height: 300, width: 400, crop: :fill, :quality=>70 %>
          <div class="card-body">
          <%# Este es el titulo de la película  %>
            <h5 class="card-title"> <strong><%= truck.brand %></strong></h5>
            <%# Este es el overview de la película  %>
            <p class="card-text"><%= truck.model %></p>
            <p class="card-text"><%= truck.description %></p>
            <p class="card-text"><%= truck.capacity %>Kg</p>
            <p class="card-text"><%= truck.price %>$</p>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
