

<div class="container grid-container mt-4">
<%# Esta es la card  %>
  <% @trucks.each do |truck| %>
    <%= link_to truck do %>
      <div class="border-rounded1 mb-4">
          <img  src="https://acortar.link/vrNJu5" class="card-img-top p-3" alt="truck-image">
          <div class="card-body">
          <%# Este es el titulo de la película  %>
            <h5 class="card-title"> <strong><%= truck.brand %></strong></h5>
            <%# Este es el overview de la película  %>
            <p class="card-text"><%= truck.model %></p>
            <p class="card-text"><%= truck.description %></p>
            <p class="card-text"><%= truck.capacity %> kg</p>
            <p class="card-text">$ <%= truck.price %></p>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
