<div class="banner-trucks" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('https://resources.turo.com/f/81934/3000x850/54f70cb7d3/hero_bg-2x.png');">
<div class="trucks-banner-text">
    <h1><strong>Adventure Awaits</strong></h1>
    <p>Our truck rental options</p>
  </div>
</div>


<div class="card-group mt-4 container">
<%# Esta es la card  %>
  <% @trucks.each do |truck| %>
    <%= link_to truck do %>
      <div class="card1 mb-4">
        <div class="div-img">
          <%= cl_image_tag truck.photo.key, height: 250, width: 350, crop: :fill, :quality=>70 %>
        </div>
          <div class="card-body" style="width: 350px">
          <%# Este es el titulo de la película  %>
            <h5 class="card-title"> <strong><%= truck.brand %></strong></h5>
            <%# Este es el overview de la película  %>
            <p class="card-text"><%= truck.model %></p>
            <p class="card-text"><%= truck.description %></p>
            <p class="card-text"><%= truck.capacity %>Kg</p>
            <p class="card-text"><%= truck.price %>$</p>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
