<div class="container mt-5">
<h2><strong>Publish your Truck</strong></h2>
<div class="form-container mt-4">
<%= simple_form_for(@truck) do |f| %>
        <%= f.input :brand, placeholder:'Enter the brand of the truck' %>
        <%= f.input :model, placeholder:'Enter the model of the truck' %>
        <%= f.input :description, placeholder:'Enter a truck description' %>
        <%= f.input :capacity, placeholder:'Enter the capacity of the truck' %>
        <%= f.input :price, placeholder:'Enter the price per day of the truck' %>
        <%= f.input :photo, as: :file %>
        <div class="btn btn-primary mt-3 mb-5">
          <%= f.button :submit %>
        </div>
<% end %>
</div>
</div>
