<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @truck.photo.key, crop: :fit, :quality=>70 %>');">
  <div class="h1-center">
    <h1><strong><%= @truck.brand %></strong></h1>
  </div>
</div>

  <div class="boton mt-4 botones-rentupdate">
    <%= link_to "Rent Truck",  new_truck_rent_path(@truck), class: "btn btn-primary" %>
    <%= link_to "Update", edit_truck_path(@truck), class:"btn btn-info" %>
  </div>

  <div class="card1 mb-4 mt-3 container col-8" style = "width: 600px">
          <div class="card-body " >

            <h5 class="card-title"> <strong><%= @truck.brand %></strong></h5>

            <p class="card-text"><%= @truck.model %></p>
            <p class="card-text"><%= @truck.description %></p>
            <p class="card-text"><%= @truck.capacity %> kg</p>
            <p class="card-text">$ <%= @truck.price %></p>
            <div class="delete">
            <%= link_to "Delete", delete_truck_path(@truck), method: :delete, data: {confirm: 'Are you sure?'}, class:"delete btn btn-danger" %>
            </div>
          </div>
  </div>
