<div class="fotocamion">
<img src="<%= cl_image_path @truck.photo.key, crop: :fit, :quality=>70 %>" alt="truck-pic" class="truckpic">
</div>

  <div class="container">
    <h1><strong><%= @truck.brand %></strong></h1>
  </div>
</div>
<div>
  <div class="border-rounded1 mb-4 mt-3 container col-8" style = "width: 600px">
          <div class="card-body " >
          <%# Este es el titulo de la película  %>
            <h5 class="card-title"> <strong><%= @truck.brand %></strong></h5>
            <%# Este es el overview de la película  %>
            <p class="card-text"><%= @truck.model %></p>
            <p class="card-text"><%= @truck.description %></p>
            <p class="card-text"><%= @truck.capacity %> kg</p>
            <p class="card-text">$ <%= @truck.price %></p>
          </div>
  </div>
